
<div class="keg-form form-group">
  <div class="row">

    <div class="col-md-3">
      <h3>Add a new Keg</h3>
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-3">
    </div>

    <div class="col-md-3">
    </div>

  </div>

<div class="row">
  <div class="col-md-3">
    <input placeholder="Brand" class="input-md" #newBrand>
  </div>

  <div class="col-md-3">
    <input placeholder="Price" class="input-md" #newPrice>
  </div>

  <div class="col-md-3">
    <input placeholder="ABV%" class="input-md" #newAbv>
  </div>

  <div class="col-md-3">
    <input placeholder="Description" class="input-md" #newDescription>
  </div>

</div>

<br>

  <div class="row">
    <div class="col-md-3">
      <button class="btn-lg" (click)="addKeg(newBrand, newPrice, newAbv, newDescription)">Add</button>
    </div>

    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>
